*{
   margin: 0;
   padding: 0;
}
   /* Navigation start */
.navbar{
   height: 100px;
   width: 88%;
   background-color: cadetblue;
   padding: 10px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top:5px;
   box-shadow: 5px black;
}
.navbar .logo{
   float: left;
}
.navbar .logo img{
   width: 80px;
   height: 80px;
}
.navHeading h1{
   font-size: 50px;
   color:chartreuse;
   margin-right: 280px;
}
.navMenu a{
   text-decoration: none;
   font-size:20px;
   padding: 10px;
   color:antiquewhite;
   width: 90px;
   background-color: rgb(89, 89, 199);
   margin: 0 5px;
   border-radius: 10px;
}
.navMenu a:hover{
   background-color:darkslategrey;
}
/* Navigation end */

/* profile start */
.profile{
   width: 88%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
/* .about{
   width: 90px;
   margin: 0 auto;
   justify-content: center;
} */
.weather{
   height: 100px;
   width: 100px;
   position: absolute;
   right: 35px;
   justify-content: flex-end;
   padding-right: 50px;
   transition: transform 2s;
}
.weather:hover{
   transform:rotate(360deg)
}
.myImage img{
   height: 350px;
   width: 230px;
   padding: 60px;
   border-radius: 50%;
   margin-bottom: 10px;
}
.Designation{
   width: 520px;
   text-align: center;
   padding: 50px;
   justify-content: center;
}
.Designation h1{
   font-size: 50px;
   text-align: left;
   font-style: italic;
}
.Designation p{
   font-size: 18px;
   text-align: left;
   color: gray;
}
/* profile end */

/* About me start */
.aboutMe{
   width: 88%;
   margin: 0 auto;
   background-color: cornflowerblue;
   border-radius: 10px;
   padding-bottom: 20px;
}
.aboutMe h2{
   font-size: 50px;
   margin-left: 90px
}
hr{
   border: 5px dotted wheat;
   margin: 0 30px;
   border-bottom: none;
   margin-bottom: 40px;
}
.aboutMeContainer{
   display: flex;
   justify-content: center;
   align-items: center;
}
.aboutImage img{
   height: 270px;
   width: 230px;
   border: 5px solid white;
   border-radius: 50%;
}
.aboutMeDesc{
   width: 500px;
   padding-left: 50px;
}
.aboutMeDesc p{
   color: white;
   font-size: 18px;
}
.aboutMeDesc a{
   color: white;
   text-decoration: none;
   font-size: 18px;
}
.aboutMeDesc a:hover{
   background-color: brown;
}
.cvButton{
   background-color: rgb(82, 100, 0);
   color: white;
   border: none;
   outline: none;
   padding: 5px;
}
.cvButton:hover{
   background-color: brown;
   cursor: pointer;
}
/* About me end */

/* Experience Start */
.Experience{
   width: 85%;
   margin: 0 auto;
   display: flex;
   justify-content: space-evenly;
}
.work{
   width: 33%;
   
}
.Experience .card{
   background-color: darkgray;
   border-radius: 5px;
   border: 1px solid black;
   padding: 20px;
   transition: 0.3s;
   height: 540px;
}
.card:hover{
   box-shadow: 2px 4px 8px gold;
}
.cardIcon{
   text-align: center;
   font-size: 50px;
   
   
}
.cardIcon i{
   border: 1px solid white;
   border-radius: 50%;
   overflow: hidden;
   padding: 15px;
}
.cardTitle h2{
   text-align: center;
   background-color: darkcyan;
   color: white;
   padding: 10px;
}
.cardDesc{
   text-align: left;
   padding-top: 10px;
   padding-left: 10px;
}
.skillContainer{
   padding-right: 45px;
}
.skillContainer li{
   list-style: none;
   font-weight: bold;
   margin: 20px 2px;
   position: relative;
}
.skillContainer li::before{
   position:absolute;
   content: '';
   width: 100%;
   height: 10px;
   background-color: rgb(161, 153, 168);
   left: 0;
   top: calc(100% + 5px);
   border-radius: 1000px;
}
.skillContainer li::after{
   position:absolute;
   content: '';
   width: 1%;
   height: 10px;
   background-color: rgb(180, 58, 105);
   left: 0;
   top: calc(100% + 5px);
   border-radius: 1000px;
   animation-duration: 3s;
   animation-delay: 2s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: html;
}
@keyframes html{
   to{
      width: 85%;
   }
}
/* Experience end */

/* contact me start */
.contact{
   width: 85%;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
}
.contactMe{
   text-align: center;
   width: 40%;
}
.contactMe input, textarea{
   width: 100%;
   margin: 5px;
   border: none;
   padding: 5px;
   resize: none;
   background-color: rgb(223, 198, 198);
   color: black;
}
.contactMe button{
   margin: 0px 60px;
   background-color: rgb(25, 25, 27);
   color: white;
}
.contactMe i{
   font-size: 50px;
   margin: 8px;
   padding: 8px;
}
/* contact me end */

/* Footer start */
.footer{
   height: 80px;
   width: 93%;
   margin: 0 auto;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.footerMenu a{
   text-decoration: none;
   /* font-size: ; */
   padding: 5px;
   color:antiquewhite;
   width: 90px;
   background-color: rgb(2, 2, 2);
   margin: 0 ;
   border-radius: 5px;
}
.footerMenu a:hover{
   background-color:rgb(109, 182, 182);
}
/* Footer end */